<div class="tab-content">
    <div class="tab-pane fade in active" id="{{tabIdMain}}">
        <div class="row">
            <div class="col-xs-12">

                <!--
                    Genenral Section
                -->

                <div class="box box-primary collapsed-box section-general">
                    <div class="box-header with-border">
                        <h3 class="box-title">General</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>                            
                        </div>
                    </div>		
                    <div class="box-body">
                        <div class="form-group">
                          <label>Name:</label>
                          <input class="form-control" name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
                          <label>Description:</label>
                          <textarea class="form-control" rows="3" name="description">{{description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Script Type:</label>
                            <select class="form-control select2" style="width: 100%;" value="{{type}}" name="type">
                                <option value="" >[Select Type]</option>
                                <option value="WEB_SERVICE">Web Service</option>
                                <option value="OBJECT_ACTION">Object Action</option>                                
                                <option selected="selected" value="PARAMETER">Parameter</option>
                                <option value="SCHEDULE_ACTION">Schedule Action</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--
                    Script editor section
                -->

                <div class="box box-primary section-code-area">    
                    <div class="box-header with-border">
                        <h3 class="box-title">Java Script</h3> 
                        <div class="box-tools pull-right">                            
                            <select class="btn-box-tool" name="codeSnippets" style="width: 200px;">
                            </select>          
                            <button type="button" class="btn btn-box-tool" name="btAddSnippet" data-toggle="tooltip" data-placement="bottom" title="Add Code Snippet">Add Snippet</button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-container " >                    
                        <div class="ace-editor" style="height:600px">
                        </div>            
                    </div>
                </div>
                
                <!--
                    Test script section
                -->
                <div class="box box-default collapsed-box section-general">
                    <div class="box-header with-border">
                        <h3 class="box-title">Test Script</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                        
                    </div>		
                    <div class="box-body">
                        <div class="form-group">
                          <label>Input:</label>
                          <textarea class="form-control" rows="5" name="testInputData">{{testInputData}}</textarea>
                        </div>
                        <div class="form-group">
                          <label>Output</label>
                          <textarea class="form-control" rows="5" name="testOutputData"></textarea>
                        </div>                        
                    </div>      
                     <!-- /.box-body -->
                    <div class="box-footer">                        
                        <button class="btn btn-primary pull-right" name="btTestScript">Test Script</button>					                        
                    </div>
                </div>

            <!-- /.box -->  		  
            </div>
            <!-- /.col -->
        </div>
    </div>
    <div class="tab-pane fade" id="{{tabIdHistory}}">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body table-container">                    
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">				                                     
                        <!-- /.box-body -->
                        <button type="submit" class="btn btn-primary" name="btRollback">Rollback</button>                            
                    </div>
                </div>
            <!-- /.box -->  		  
            </div>
        <!-- /.col -->
        </div>        
    </div>
</div>