<!--General information section-->
<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{displayName}}</h3>
    </div>    
    <div class="box-body table-container">
            
    </div>
    
    <!-- /.box-body -->
    <div class="box-footer">
        <button class="btn btn-primary btn-warning pull-right" name="btDelete">Delete</button>					
        <button class="btn btn-primary pull-right" name="btAdd" style="margin-right: 5px;">Add</button>										
        <button class="btn btn-primary pull-right" name="btEdit" style="margin-right: 5px;">Edit</button>
    </div>
</div>
