 <div class="col-md-12">     
    <!--General information section-->
    <div class="box box-primary" >
        <div class="box-header with-border">
            <h3 class="box-title">{{title}}</h3>
        </div>		                
        <div class="box-body parameter-content">

        </div>
    </div>
</div>