<div class="form-group">
    <label>{{displayName}}:</label>&nbsp;<i class="fa fa-warning" style="color:#FF0000"></i>
    <div class="input-group">
          <select class="form-control select2" style="width: 100%;">
          </select>
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat" name="btReload"><i class="fa fa-refresh"></i></button>
              <button type="button" class="btn btn-primary btn-flat" name="btNew"><i class="fa fa-plus"></i></button>
              <button type="button" class="btn btn-primary btn-flat" name="btOpen"><i class="fa fa-arrow-right"></i></button>
          </span>
    </div>
</div>