<div>
    <!--General information section-->
    <div class="box {{colorSchema}}{{^colorSchema}}box-primary{{/colorSchema}} {{#solid}}box-solid{{/solid}} {{#collapsed}}collapsed-box{{/collapsed}}" >
        <div class="box-header with-border">
            <h3 class="box-title">{{title}}&nbsp;</h3><i>{{helpText}}</i>            
            {{#collapsable}}
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool bt-collapse" data-widget="collapse"><i class="fa {{^collapsed}}fa-minus{{/collapsed}}{{#collapsed}}fa-plus{{/collapsed}}"></i></button>
            </div>
            {{/collapsable}}
        </div>		                
        <div class="box-body parameter-content">

        </div>
    </div>
</div>
