
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">O<b>C</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Operation<b>Center</b></span>     <!--<img src="mercedes-benz-mb-vector-logo-400x400.png" alt="" style="width:35px;height:35px;margin-top: 7px;margin-right: 3px;vertical-align: top;" />-->
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">              
              <span class="hidden-xs field-full-name"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                  <p class="field-full-name"><br>                                
                <center><button class="btn btn-default" name="btLogout">Log Out</button></center>
                </p>
              </li>              
              
            </ul>
          </li>
        <!-- Control Sidebar Toggle Button -->
        <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-folder-o"></i>
                <span class="label label-danger open-panels-counter-red"></span>
                <span class="label label-success open-panels-counter-green"></span>
            </a>            
            <ul class="dropdown-menu" style="width:400px;border-color: #cccccc;">                
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu open-panels-menu">                                               
                    </ul>  
                </li>                  
            </ul>
        </li>          
        </ul>
      </div>
    </nav>

  
