<li class="treeview">
    <a href="#">
        <i class="fa {{iconCSS}}"></i>
        <span>{{text}}</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    </ul>
</li>