<div class="calendar_block" >
    <div class="calendar-time-text noselect">Test</div>
    <div class="calendar-description-text noselect"></div>
    <!--button class="calendar-block-properties" ><i class="fa fa-list-alt"></i></button-->
    <button class="calendar-remove-block" ><i class="fa fa-remove"></i></button>
</div>
