<td style="overflow: hidden; padding: 0px; border: 0px none; height: 21px; min-width: 130px;">
    <div class="calendar_colheader" style="cursor: default; position: relative; height: 21px;">
        <div class="calendar_colheader_inner noselect">{{text}}</div>        
        <button class="calendar-remove-block" style="height: 21px;"><i class="fa fa-remove"></i></button>        
        <button class="calendar-button-properties" ><i class="fa fa-pencil" style="font-size: x-small"></i></button>
    </div>
</td>