<div id="dpc" class="calendar_main" style="position: relative; width: 100%; visibility: visible;">
    <div style="overflow: hidden;" class="header-scroll-area">
        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; border-collapse: separate; border: 0px none; ">
            <tbody>
                <tr>
                    <td style="padding: 0px; border: 0px none;">
                        <div class="calendar_corner" style="position: relative; width: 45px; height: 21px;">
                            <div class="calendar_corner_inner">
                            </div>
                        </div>
                    </td>
                    <td style="width: 100%; position: relative; padding: 0px; border: 0px none;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="">
                            <tbody>
                                <tr class="calendar-headers">                                                                
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <div class="calendar_cornerright" style="position: relative; width: 17px; height: 21px;">
                            <div class="calendar_cornerright_inner">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height:calc(100vh - 300px);overflow: auto; position: relative; zoom: 1;" class="scroll-div">
        <div style="zoom: 1; position: relative;">
            <table cellspacing="0" cellpadding="0" border="0" style="border: 0px none; width: 100%; position: absolute;">
                <tbody>
                    <tr>
                        <td style="padding: 0px; border: 0px none;">
                            <table cellspacing="0" cellpadding="0" border="0" style="border: 0px none; width: 45px;">
                                <tbody class="calendar-time-elements">
                                </tbody>
                            </table>
                        </td>
                        <td width="100%" style="padding: 0px; border: 0px none;">
                            <div style="position: relative;">
                                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; border: 0px none; ">
                                    <tbody class="calendar-grid">
                                    </tbody>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" style="height: 960px;top: 0px; position: absolute; width: 100%; border: 0px none; ">
                                    <tbody>
                                        <tr class="calendar-block-containers">                                                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>                      