<tr style="height: 40px;">
    <td style="cursor: default; padding: 0px; border: 0px none;">
        <div class="calendar_rowheader" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
            <div class="calendar_rowheader_inner" style="height: 39px;">
                <div class="noselect">
                    {{text}}
                </div>
            </div>
        </div>
    </td>
</tr>
