<td style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden; background-color: white; min-width: 130px;">
    <div class="calendar_grid_cell" style="height: 20px; position: relative;">
    </div>
</td>