<div class="tab-content" style="height:100%;">
    <div class="tab-pane fade in active" style="height:100%;position:relative;" id="{{tabIdMain}}">        
        
        <div class="sidenav">            
            <div class="box box-default box-solid" style="height: 100%;margin-bottom: 0;width:100%;top:0px;left:0px;overflow: hidden;" >
                <div class="box-header with-border">
                    <h3 class="box-title sidepanel-title"></h3>                        
                    <div class="box-tools pull-right" >
                        <button type="button" class="btn btn-box-tool close-side-panel"><i class="fa fa-remove"></i></button>
                    </div>                        
                </div>		                
                <div class="box-body" style="height:calc(100% - 40px); overflow-x: hidden;overflow-y: auto;">                                        
                    <div class="parameter-panel" style="display:none;"></div>
                </div>                
            </div>
        </div>
        
        <div class="main-panel" style="width:100%;overflow:auto;transition: 0.5s;padding: 15px 15px 15px 15px;">
            <!--
               Genenral Section
           -->

            <div class="general-section">                    
            </div>


            <div class="nav-tabs-custom" style="margin-bottom: 0px;">
                <div class="box-tools pull-right">                            
                       <input class="btn-box-tool invisible-input-control" style="width: 1px;height:1px" name="datePicker" />
                       <button type="button" class="btn btn-primary" name="btAddDate" style="margin-right:6px;margin-top: 6px;">Add Special Day</button>                       
                   </div>   
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#week_{{randomNumber}}" data-toggle="tab">Week</a></li>
                    <li><a href="#special_days_{{randomNumber}}" data-toggle="tab">Special Days</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="week_{{randomNumber}}" >
                        <div class="box-body week-calendar">
                        </div>
                    </div>
                    <div class="tab-pane" id="special_days_{{randomNumber}}">
                        <div class="box-body special-days-calendar">
                        </div>
                    </div>
                </div>                
            </div>                  
        </div>
    </div>
    <div class="tab-pane fade" id="{{tabIdHistory}}">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body table-container">                    
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">				                                     
                        <!-- /.box-body -->
                        <button name="btRollback" class="btn btn-primary" >Rollback</button>
                    </div>
                </div>
                <!-- /.box -->  		  
            </div>
            <!-- /.col -->
        </div>        
    </div>
</div>