<div class="row" >
    <div class="col-xs-12">
        <div class="nav-tabs-custom" >
            <ul class="nav nav-tabs">
                {{#showParameters}}<li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>{{/showParameters}}
                {{#showGetAll}}<li><a href="#parametersAll" data-toggle="tab">Parameters (All)</a></li>{{/showGetAll}}
                <li class="{{^showParameters}}active{{/showParameters}}"><a href="#info" data-toggle="tab">Info</a></li>
                <li><a href="#history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <div class="box-body table-container">                    
                    </div>
                </div>
            </div>                
        </div>            
    </div>
</div>
    