<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Play prompt</h4>
    </div>
    <div class="modal-body text-center">
        <audio src="{{filename}}" controls autoplay=\"autoplay\" >
            <p>If you are reading this, it is because your browser does not support the audio element.</p>
        </audio>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
    </div>
  </div>
</div>
