<div class="box box-primary {{#collapsed}}collapsed-box{{/collapsed}}">							
    <div class="box-header with-border">
        <h3 class="box-title question-header">{{language}}</h3>
        <div class="box-tools pull-right">                
                <button type="button" class="btn btn-box-tool bt-collapse" name="btCollapseToggle" data-widget="collapse"><i class="fa {{^collapsed}}fa-minus{{/collapsed}}{{#collapsed}}fa-plus{{/collapsed}}"></i></button>
        </div>
    </div>	
    <div class="box-body">
        <div class="form-content">               
            <div class="form-group">
                <label>Prompt Text:</label>
                <textarea class="form-control" name="prompt_Text" rows="2">{{prompt_Text}}</textarea>
            </div>                
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" name="btPlayPrompt" {{^prompt_File}}disabled{{/prompt_File}} style="margin-right: 5px;"><i class="fa fa-play"></i>&nbsp;Play</button>
        <button class="btn btn-primary" name="btCreatePrompt" style="margin-right: 5px;" >Upload / Record Audio File</button>
        <button class="btn btn-warning" name="btDeletePrompt" {{^prompt_File}}disabled{{/prompt_File}} style="margin-right: 5px;">Delete Audio File</button>
    </div>
</div>