<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary section-general">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>		
            <div class="box-body">
                <div class="prompt-form">                    
                </div>                
            </div>
        </div>
        <div class="prompt-language-section">
        </div>
    </div>                
</div>